<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Suite">
	<listeners>
		<listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter" />
	</listeners>
	<test name="Retail Test">
	<parameter name="emailValue" value="shaiq.ahmad@tekschool.us"></parameter>
	<parameter name="passwordValue" value="Test@12345"></parameter>
		<classes>
			<class name="tek.sqa.framework.tests.RetailTest"></class>
		</classes>
	</test>
</suite>